<html>
        
        <head>
            <title>Cafeteria App</title>
        </head>
        
        <body>
<!--             
                <div class="well" align="center"><h2><span class="glyphicon glyphicon-cutlery"></span>  Vendor1 Feedback</h2></div>
                <div align="right">
                        <a href="exit.html" class="btn btn-info btn-lg">
                                <span class="glyphicon glyphicon-off"></span> Exit
                              </a>
                </div>          -->
           
            <div>
                    <h2>{{successMessage}}</h2>
                <div class="container" >
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Feedback</th>
                            </tr>
                        </thead>
        
                        <tbody ng-repeat="o in orders">
                            <tr ng-repeat="orderobj in o.orders">
                                <td>{{orderobj.name}}</td>
                                <td>{{orderobj.price}}</td>
                                <td><input type="number" min="0" max="5" name="feedback" ng-model="orderobj.feedback" required/></td>
                                <!-- <td><button type="button" ng-click="order(vendor)">add</button></td>                                                          -->
                            </tr>
                    </table>
        
                    <button type="button" ng-click="feedback()">Submit Feedback</button>
                    </tbody>
                </div>
               
            </div>
            
            
        </body>
        
        </html>