<html>


    <div >

        <div class="container">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>

                <tr ng-repeat="p in items">
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                    <td><input type="number" min="0" name="quantity" ng-model="p.quantity" placeholder="Provide quantity" required/></td>
                    <!-- <td><button type="button" ng-click="order(vendor)">add</button></td>                                                          -->
                </tr>
            </table>

            <button type="button" ng-click="order()">Place Order</button>
            </tbody>
            <div align="center"><h3>{{successMessage}}</h3></div>
        </div>
      


</html>