<html>
        
        <head>
            <title>Cafeteria App</title>
            
            
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
        </head>
        
        <body>
        
            <div class="container" >
              
                    <div ng-app="VendorApp" ng-controller="VendorCtrl" align="center" class="form-group">
                        <strong><h1 style="color:black;" class="well">Insert Menu</h1></strong> <br/><br/>
                        <strong><h1 style="color:black;">{{successMessage}}</h1></strong> <br/><br/>
                        <input type="text" class="form-control"  ng-model="menu.name" placeholder="Enter Menu Name" />
        
                        <div ng-repeat="item in menu.items">
                            <input type="text"  class="form-control" ng-model="item.name"  placeholder="Enter Item Name"/>
                            <input type="number" class="form-control" ng-model="item.price" placeholder="Enter Item Price" />
                        </div>
        
                        <button ng-click="addItems()" class="btn btn-default"  >Add Items</button>
                        <button ng-click="submit()" class="btn btn-default" >Submit Menu</button>
        
                    </div>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
                    
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
                <script>
                    var app = angular.module('VendorApp', []);
                    app.controller('VendorCtrl', function ($scope, $http) {
        
                        $scope.menu = {
                                name: '',
                                items: [
                                    { name: '', price: '' }
                                ]
                            }
        
                        $scope.submit = function () {
                            console.log($scope.menu);
                            $http({
                                url: 'insertMenu',
                                method: 'POST',
                                data: $scope.menu
                            }).then(res => {
                                console.log(res.data);
                                if(res.data == "success"){
                                    $scope.successMessage = "Menu Created!!"
                                }
                            })
                        }
                        $scope.addItems = function () {
                           var item = { name: '', price: '' }
                           $scope.menu.items.push(item);
                        }
        
                    })
                </script>
        </body>
        
        </html>